@import "../../../styles";

.modal_container {
  position: fixed;
  top: 22%;
  left: 10%;
  z-index: 20;
  background-color: $white;
  width: 80%;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow: hidden;

  @media (min-width: 768px) {
    left: calc(50% - 20rem);
    width: 40rem;
  }

  header {
    background-color: $modal_header;
    height: fit-content;
    padding: 1rem;

    h2 {
      margin: 0;
      color: $white;
    }
  }

  .content {
    height: 20rem;
  }

  .footer_container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 1rem 1.5rem;
  }
}
