@import "../../../styles";

.menu_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }

  span {
    display: block;
    width: 2rem;
    height: 3px;
    background: $white;
  }
}

h1 {
  a {
    color: $white;
    text-decoration: none;
  }
}

.nav_container {
  margin-left: auto;
  height: 100%;

  .nav_links {
    margin: 0;
    height: 100%;

    li {
      align-self: center;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.slide-enter {
  transform: translateX(-100%);
}

.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
