$primary: #ffd900;
$secondary: #292929;
$tertiary: #ff0055;
$header-background-color: #ff0055;

$modal_header: #2a006e;

$white: white;
$gray: gray;
$red: red;
$pink: #ffd1d1;
$light_gray: #ccc;

$btn-hover: #ff4382;
$btn-danger: #830000;
$btn-danger-hover: #f34343;
$btn-disabled-color: #979797;
$btn-disabled-background: $light_gray;
